.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Node/npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Editor / IDE
.vscode/
.idea/

# Environment files
.env

# Build output
dist/
build/
